[submodule "dep/glfw"]
	path = dep/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dep/glm"]
	path = dep/glm
	url = https://github.com/g-truc/glm.git
[submodule "dep/assimp"]
	path = dep/assimp
	url = https://github.com/assimp/assimp.git
[submodule "dep/iir1"]
	path = dep/iir1
	url = https://github.com/berndporr/iir1.git
