[submodule "app/dep/nanogui"]
	path = app/dep/nanogui
	url = https://github.com/mitsuba-renderer/nanogui.git
[submodule "app/dep/assimp"]
	path = app/dep/assimp
	url = https://github.com/assimp/assimp.git
[submodule "app/dep/glm"]
	path = app/dep/glm
	url = https://github.com/g-truc/glm.git
